<h1>Polymer Rails Example</h1>
<p>Both of this navigations were implemented using <code>.navigation</code> class to apply styles.
  But web component's CSS and JavaSctipt are fully encapsulated and do not interact in any way with page's styles and JavaScript.</p>

<label for="">Navigation built in Rails App styled in assets/stylesheets/layout.sass</label>
<ul class="navigation">
  <li><a href="/">Home</a></li>
  <li><a href="/">Contacts</a></li>
  <li><a href="/">Blog</a></li>
  <li><a href="/">Twitter</a></li>
  <li><a href="/">Facebook</a></li>
</ul>
<br />
<label for="">Web Component navigation built with &lt;my-navigation&gt; tag</label>
<nav-bar></nav-bar>
<div id="todos">
  <table>
    <thead>
      <tr>
        <th>TODO</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        is="todo-row"
        v-for="todo in todos"
        :todo="todo">
      </tr>
      <tr>
        <td>
          <input type="text" v-model="todo.name"><br>
        </td>
        <td>
          <input type="checkbox" v-model="todo.status">
        </td>
        <td><button @click="addTask">Add task</button></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/x-template" id="todo-row">
  <nav-bar></nav-bar>
  <tr>
    <td :id="todo.id">{{ todo.name }}</td>
    <td><input v-on:click="change(todo)" type="checkbox" v-model="todo.status"></td>
  </tr>
</script>
