<h1>To do list</h1>

<div id="todos">
  <table>
    <thead>
      <tr>
        <th>TODO</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        is="todo-row"
        v-for="todo in todos"
        :todo="todo">
      </tr>
      <tr>
        <td>
          <input type="text" v-model="todo.name"><br>
        </td>
        <td><input type="checkbox" v-model="todo.status"   true-value="yes"
  false-value="no"></td>
        <td><button @click="addTask">Add task</button></td>
      </tr>
    </tbody>

  </table>
</div>
<script type="text/x-template" id="todo-row">
  <tr>
    <td>{{ todo.name }}</td>
  </tr>
</script>
