
<div id="todos">
  <table>
    <thead>
      <tr>
        <th>TODO</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr
        is="todo-row"
        v-for="todo in todos"
        :todo="todo">
      </tr>
      <tr>
        <td>
          <input type="text" v-model="todo.name"><br>
        </td>
        <td>
          <input type="checkbox" v-model="todo.status">
        </td>
        <td><button @click="addTask">Add task</button></td>
      </tr>
    </tbody>
  </table>
</div>

<script type="text/x-template" id="todo-row">
  <tr>
    <td :id="todo.id">{{ todo.name }}</td>
    <td><input v-on:click="change(todo)" type="checkbox" v-model="todo.status"></td>
  </tr>
</script>
