$inuit-global-border-box  : true;

html {
  box-sizing: border-box;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

/**
 * the html and :host declarations cannot be adjacent to one other
 * or cssmin will combine them into a single rule, breaking in
 * Safari and Firefox.
 */

:host {/*! Comment to prevent cssmin munging this rule with html above and borking Safari */
  box-sizing: border-box;
}
